.newField {
    min-height: 100px;
    padding: 10px;
    border: 1px solid #A5A735;
    display: flex;
    align-items: center;
    gap: 15px;
}
.newField input {
    width: 50%;
    height: 60px;
    border: 2px dashed #A5A735;
    border-radius: 8px;
    background-color: transparent;
    color: white;
    font-family: 'Recursive', sans-serif;
    padding: 5px;
    font-size: medium;
}
.newField button  {
    height: 75px;
    font-family: 'Recursive', sans-serif;
    font-size: large;
    background-color: transparent;
    border: 2px dashed #A5A735;
    color: white;
    border-radius: 8px;
    width: 15%;
}
.newField p {
    height: 70px;
    font-family: 'Recursive', sans-serif;
    font-size: medium;
    background-color: transparent;
    border: 2px dashed #A5A735;
    color: white;
    border-radius: 8px;
    width: 70px;
    text-align: center;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageInput button {
    min-width: 100%;
}

@media screen and (max-width : 1213px) {
    .newField button {
        font-size: medium;
    }
}
@media screen and (max-width : 1049px) {
    .newField button {
        font-size: small;
    }
    .newField {
        gap: 5px;
    }
}
@media screen and (max-width : 500px) {
    .newField {
        flex-direction: column;
        min-height: auto;
    }
    .newField input {
        width: 90%;
        height: 40px;
        text-align: center;
    }
    .newField button {
        width: 93%;
        height: 40px;
    }
    .imageInput {
        width: 93%;
    }
}