.postlists {
    padding-inline-start: 0px;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 70vh;
    gap: 20px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.home {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    padding-bottom: 20px;
    padding-right: 15px;
}
.addButton {
    position: absolute;
    bottom: 12%;
    right: 8%;
}