.postlists {
    padding-inline-start: 0px;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 70vh;
    gap: 20px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-bottom: 40px;
}
.home {
    display: flex;
    height: 90vh;
    flex-direction: column;
    width: 80%;
    align-items: center;
    gap: 20px;
    position: relative;
    padding-bottom: 20px;
    margin-right: 15px;
    margin-top: 40px;
}
.addButton {
    position: absolute;
    bottom: 12%;
    right: 8%;
    display: flex;
    flex-direction: column;
}
.searchBtn {
    display: none;
}
@media screen and (max-width : 1195px) {
    .postlists {
        width: 85%;
    }
    .addButton {
        right: 5px;
    }
}
@media screen and (max-width : 994px) {
    .postlists {
        width: 95%;
    }
}
@media screen and (max-width : 890px) {
    .home {
        width: 100%;
        margin-right: 0px;
    }
    .addButton {
        position: fixed;
        z-index: 1;
    }
    .searchBtn {
        display: block;
    }
}
@media screen and (max-width : 500px) {
    .home {
        margin-top: 0px;
    }
    .addButton {
        display: none;
    }
}