.buttoncontainer {
    display: flex;
    gap: 40px;
    border: 1px solid #A5A735;
    width: 70%;
    padding: 10px 0px;
    justify-content: center;
}
.buttoncontainer button {
    color: #ffff;
    background-color: transparent;
    font-size: 16px;
    border: 0;
    font-family: 'Recursive', sans-serif;
}