@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;500&display=swap');

body {
  width: 100vw;
  background-color: black;
  margin: 0;
}

h1, h2, p, h3 {
  color: white;
}

button {
  margin-left: 5px;
  margin-top: 5px;
}
dialog {
  position: absolute;
  top: 50%;
  /* left: 50%; */
}