@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500&display=swap');

body {
  width: 99.8%;
  min-height: 100vh;
  background-color: black;
  margin: 0;
  border: 1px solid #A5A735;
  border-bottom: 0px;
}

h1, h2, p, h3 {
  color: white;
}

button {
  margin-left: 5px;
  margin-top: 5px;
}
dialog {
  position: absolute;
  top: 50%;
  /* left: 50%; */
}
.app-layout {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: 0px 20px;
}